<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!--通过springProperty节点获取yml文件中的属性值,默认值为dev-->
    <springProperty scope="context" name="profile" source="spring.cloud.config.profile"
                    defaultValue="dev"/>
    <include resource="logback-${profile}.xml" />
</configuration>